<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source={0}demo.db;failifmissing=false;"/>
  </connectionStrings>
  <appSettings>
    <add key="OpenDebugInfo" value="true"/>
    <add key="IsWriteLog" value="true"/>
  </appSettings>
</configuration>