<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--用xml 当数据库演示了-->
    <add name="Conn" connectionString="xml path={0}"/>
  </connectionStrings>
 <appSettings>
   <!--为了方便演示，我把配置写在代码里了-->
   <!--<add key="Aop" value="MyAopForDemo.AopForRecordState,MyAopForDemo"/>-->
 </appSettings>
</configuration>