<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conn" connectionString="xml path={0}" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IsWriteLog" value="true"/>
    <add key="DefaultCacheTime" value="120"/>
  </appSettings>
</configuration>